$white: #ffffff;
$black: #000000;
$orange: #F9572E;
$hoverorange: #FA6C48;
$lightgreen: #33B5A3;
$grey: #666666;
$green: #63D2C1;
$darkgreen: #33B5A3;
$lightgrey: #F2F2F2;
$lowerborder: #CCCCCC;
$red: red;

